.heroArea_wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 400px;
  height: 100%;
  background-image:
    url("/bannerementor.png");

  // background-image: url('/banner.jpg');
  // @media (min-width: 640px) {
  //   background-image: url('/1080x360.jpg');
  // }

}
