.footer {
  background-color: var(--bg-color-primary);
  color: var(--text-primary);
  padding: 20px 0;

  .link {
    color: blue;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
  }
}

