:root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #2c2c2c;
  --bg-color-feature: #161616;
  --button-color-primary: #f2f850;
  --button-color-secondary: #AFAF47;
  --headline-color: #070707;
  --text-primary: rgb(0, 0, 0);
  --text-secondary: #00f0b5;
  --button-text-color: #000;
  --link-color: #fff;
  --nav-link-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  justify-content: center;
}

.custom_container {
  max-width: 1516px;
  min-width: 500px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-color: var(--bg-color-primary);
}

a {
  color: var(--button-text-color);
  text-decoration: none;
  min-width: 500px;
}

h2 {
  display: center;
  min-width: 500px;
  font-size: 1.5em;
  margin-block-end: 0.13em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--text-primary);
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--text-primary);
}

p {
  display: center;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--text-primary);
}

